.buildYourOwn {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.025);
}

@media (min-width: $screenMd) {
  padding: 40px 100px 40px;
}

.buildYourOwnCode {
  background-color: rgba(0, 0, 0, 0.025);
}

.buildYourOwnControlPanel {
  padding: 0 20px 20px;
  background-color: rgba(0, 0, 0, 0.025);
}
