.buildYourOwn {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.025);
  display: flex;
  justify-content: center;
  max-width: 100%;
}

@media (min-width: $screenMd) {
  padding: 40px 100px 40px;
}

.buildYourOwnCode,
.buildYourOwnControlPanel {
  padding: 0 20px 20px;
  background-color: rgba(0, 0, 0, 0.025);
}
