.root {
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-tap-highlight-color: transparent;
}

.snackbar {
  background-color: #323232;
  bottom: 0;
  transform: translateY(48px);
  z-index: 1;
  color: white;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  animation-name: show;
  animation-duration: 550ms;
  animation-fill-mode: forwards;
}

@media (min-width: $screenSm) {
  .snackbar {
    width: auto;
    max-width: 550px;
  }
}

.snackbarWrapper {
  bottom: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}

@keyframes show {
  0% {
    transform: translateY(48px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes hide {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(48px);
  }
}

.message {
  padding: 14px 24px;
  color: $white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  margin: 0;
}

.delay {
  animation-delay: 550ms;
}
