.container {
  opacity: 1;
}

.containerLeaving {
  opacity: 0;
  animation: exit 550ms $rippleEaseOutFunction;
}

.containerPulsating {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  animation-name: pulsate;
  animation-duration: 1500ms;
  animation-timing-function: $rippleEaseOutFunction;
  animation-iteration-count: infinite;
}

.ripple {
  width: 50px;
  height: 50px;
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(153, 153, 153, 0.6);
}

.rippleVisible {
  opacity: 0.3;
  transform: scale(1);
  animation-name: enter;
  animation-duration: 550ms;
  animation-timing-function: $rippleEaseOutFunction;
}

.rippleFast {
  animation-duration: 200ms;
}

@keyframes enter {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes exit {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes pulsate {
  0% { transform: scale(0.3); }
  50% { transform: scale(0.4); }
  100% { transform: scale(0.3); }
}
