.root {
  border-radius: inherit;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  transition: all 250ms;
  z-index: 0;
}
