{
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  },
  "plugins": [
    "transform-object-rest-spread",
    "transform-object-assign"
  ],
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "useBuiltIns": true
      }
    ],
    "es2015",
    "react"
  ]
}
