.tab {
  display: inline-block;
}

.tabFixed {
  flex: 1;
}

.button {
  border-radius: 0;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: none;
  width: 100%;
}

.scrollable {
  flex: 0;
}

.indicator {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: $accent;
  margin-top: -2px;
}
