.tab {
  display: inline-block;
}

.tabFixed {
  flex: 1;
}

.button {
  border-radius: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.label {
  padding: 15px 16px;
}

.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: $accent;
  margin-top: -2px;
}
