.tabs {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.tabsInner {
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0;
}

.tabList {
  margin: 0;
  padding: 0;
}

.tabListFixed {
  display: flex;
}

.indicator {
  transition: all 250ms ease;
  height: 2px;
  margin-top: -2px;
}
