.root {
  box-sizing: border-box;
}

.xs-1 { flex-basis: 8.33333%; }
.xs-2 { flex-basis: 16.66666%; }
.xs-3 { flex-basis: 25%; }
.xs-4 { flex-basis: 33.33333%; }
.xs-5 { flex-basis: 41.66666%; }
.xs-6 { flex-basis: 50%; }
.xs-7 { flex-basis: 58.33333%; }
.xs-8 { flex-basis: 66.66666%; }
.xs-9 { flex-basis: 75%; }
.xs-10 { flex-basis: 83.33333%; }
.xs-11 { flex-basis: 91.66666%; }
.xs-12 { flex-basis: 100%; }

@media (min-width: $screenSm) {
  .sm-1 { flex-basis: 8.33333%; }
  .sm-2 { flex-basis: 16.66666%; }
  .sm-3 { flex-basis: 25%; }
  .sm-4 { flex-basis: 33.33333%; }
  .sm-5 { flex-basis: 41.66666%; }
  .sm-6 { flex-basis: 50%; }
  .sm-7 { flex-basis: 58.33333%; }
  .sm-8 { flex-basis: 66.66666%; }
  .sm-9 { flex-basis: 75%; }
  .sm-10 { flex-basis: 83.33333%; }
  .sm-11 { flex-basis: 91.66666%; }
  .sm-12 { flex-basis: 100%; }
}

@media (min-width: $screenMd) {
  .md-1 { flex-basis: 8.33333%; }
  .md-2 { flex-basis: 16.66666%; }
  .md-3 { flex-basis: 25%; }
  .md-4 { flex-basis: 33.33333%; }
  .md-5 { flex-basis: 41.66666%; }
  .md-6 { flex-basis: 50%; }
  .md-7 { flex-basis: 58.33333%; }
  .md-8 { flex-basis: 66.66666%; }
  .md-9 { flex-basis: 75%; }
  .md-10 { flex-basis: 83.33333%; }
  .md-11 { flex-basis: 91.66666%; }
  .md-12 { flex-basis: 100%; }
}

@media (min-width: $screenLg) {
  .lg-1 { flex-basis: 8.33333%; }
  .lg-2 { flex-basis: 16.66666%; }
  .lg-3 { flex-basis: 25%; }
  .lg-4 { flex-basis: 33.33333%; }
  .lg-5 { flex-basis: 41.66666%; }
  .lg-6 { flex-basis: 50%; }
  .lg-7 { flex-basis: 58.33333%; }
  .lg-8 { flex-basis: 66.66666%; }
  .lg-9 { flex-basis: 75%; }
  .lg-10 { flex-basis: 83.33333%; }
  .lg-11 { flex-basis: 91.66666%; }
  .lg-12 { flex-basis: 100%; }
}
