.root {
  position: relative;
  width: 100%;
  flex: 1;
  -webkit-tap-highlight-color: transparent;
}

.icon {
  position: absolute;
  right: 0;
  top: 40px;
  pointer-events: none;
}

.helperText {
  padding-top: 8px;
}

.label {
  color: rgba(0, 0, 0, 0.54);
  left: 0;
  line-height: 30px;
  max-height: 30px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 30px;
  text-overflow: ellipsis;
  top: 35px;
  transform-origin: left top 0;
  transition-duration: 250ms;
}

.label.hasValue {
  transform: $textFieldLabelFloatTransform;
}

.inkbar {
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.42);
  border-bottom-style: solid;
  box-sizing: border-box;
  height: 2px;
}

.select {
  appearance: none;
  background: transparent;
  border: none;
  font-family: inherit;
  width: 100%;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 30px;
  margin-top: 32px;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select:focus::-ms-value {
  background-color: transparent;
  color: #000;
}

.select:focus {
  outline: none;
}

.select:disabled {
  color: rgba(0, 0, 0, 0.42);
  cursor: not-allowed;
}

.select:disabled ~ .inkbar {
  border-bottom-style: dashed;
}

.select:focus:not(:disabled) ~ .inkbar {
  animation-name: stretch;
  animation-duration: 250ms;
  animation-timing-function: $easeOutFunction;
  animation-fill-mode: forwards;
  border-bottom-width: 2px;
  border-bottom-color: $primary;
  max-width: 70%;
}

.select:hover:not(:disabled) ~ .inkbar {
  border-bottom-width: 2px;
}

@keyframes stretch {
  0% {
    margin-left: 15%;
    max-width: 70%;
  }

  100% {
    max-width: 100%;
    margin-left: 0%;
  }
}
