.root {
  align-items: center;
  position: relative;
  display: inline-flex;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  padding: 0 16px;
  justify-content: center;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  border: 0;
  background: none;
  outline: none;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  margin: 8px;
  color: inherit;
  border-radius: 2px;
  user-select: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.root.hasBackground {
  box-shadow: $elevation2;
}

.root.hasBackground:active {
  box-shadow: $elevation5;
}

.root::-moz-focus-inner {
  border: 0;
}

.fab {
  height: 56px;
  width: 56px;
  min-height: 56px;
  min-width: 56px;
  border-radius: 50%;
  padding: 0;
  box-shadow: $elevation5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.fab:active {
  box-shadow: $elevation10;
}

.label {
  align-items: inherit;
  display: inherit;
  pointer-events: none;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  justify-content: inherit;
}

.fab > .label {
  justify-content: center;
  width: 100%;
}

.isIcon {
  border-radius: 50%;
}

.lightText {
  color: $white;
}

.darkText {
  color: $black87;
}

