.root {
  position: relative;
  display: inline-block;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  padding: 0 16px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  border: 0;
  background: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  color: inherit;
}

.root.hasBackground {
  box-shadow: $elevation2;
}

.root.hasBackground:active {
  box-shadow: $elevation5;
}

.root.fab {
  height: 56px;
  width: 56px;
  min-height: 56px;
  min-width: 56px;
  border-radius: 50%;
  margin: 8px;
  padding: 0;
  box-shadow: $elevation5;
}

.root.fab:active {
  box-shadow: $elevation10; 
}

.root::-moz-focus-inner {
  border: 0;
}
