@keyframes sink {
  0% { transform: scale(0.75) translate(0, -20px); }
  100% { transform: scale(1) translate(0, 0); }
}

@keyframes float {
  0% { transform: scale(1) translate(0, 0); }
  100% { transform: scale(0.75) translate(0, -20px); }
}
