.root {
  display: inline-block;
  position: relative;
}

.input {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin-top: 32px;
  display: block;
  width: 100%;
  min-width: 180px;
  padding: 8px 0;
  font-size: 16px;
}

.input:focus ~ .inkbar::after {
  display: none;
}

.inkbar::after {
  content: '';
  background-color: $borderColor;
  height: 1px;
  position: absolute;
  width: 100%;
}

.input ~ .inkbar {
  top: -1px;
  height: 2px;
  background-color: $primary;
  animation-duration: 250ms;
  animation-timing-function: easeOutFunction;
  animation-fill-mode: forwards;
  width: 100%;
  max-width: 0%;
}

.input:focus ~ .inkbar {
  animation-name: stretch;
}

@keyframes stretch {
  0% {
    margin-left: 15%;
    max-width: 70%;
  }

  100% {
    max-width: 100%;
    margin-left: 0%;
  }
}

.label {
  position: absolute;
  top: 36px;
  pointer-events: none;
  animation-duration: 250ms;
  animation-timing-function: $easeOutFunction;
  font-size: 16px;
  transform-origin: left top 0;
  animation-fill-mode: forwards;
}

.input.hasPlaceholder + .label,
.input.hasValue + .label,
.input:focus + .label {
  transform: scale(0.75) translate(0, -20px);
}

.input:focus + .label {
  color: $primary;
}

.helper {
  padding-top: 8px;
  font-size: 12px;
  line-height: 12px;
  color: #8a8a8a;
}
