.root {
  display: inline-block;
  position: relative;
  width: 100%;
}

.input {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin-top: 32px;
  display: block;
  width: 100%;
  padding: 8px 0;
  font-size: 16px;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

.input:disabled {
  cursor: not-allowed;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.42);
}

.inkbar {
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.42);
  border-bottom-style: solid;
  box-sizing: border-box;
  height: 2px;
  animation-duration: 250ms;
  animation-timing-function: easeOutFunction;
  animation-fill-mode: forwards;
}

.input:disabled ~ .inkbar {
  border-bottom-style: dashed;
}

.input:focus ~ .inkbar {
  animation-name: stretch;
  border-bottom-color: $primary;
  max-width: 70%;
}

.input:focus ~ .inkbar,
.input:hover:not(:disabled) ~ .inkbar {
  border-bottom-width: 2px;
}

@keyframes stretch {
  0% {
    margin-left: 15%;
    max-width: 70%;
  }

  100% {
    max-width: 100%;
    margin-left: 0%;
  }
}

.label {
  color: rgba(0, 0, 0, 0.54);
  position: absolute;
  top: 40px;
  pointer-events: none;
  animation-duration: 250ms;
  animation-timing-function: $easeOutFunction;
  font-size: 16px;
  transform-origin: left top 0;
  animation-fill-mode: forwards;
}

.input.hasPlaceholder + .label,
.input.hasValue + .label,
.input:focus + .label {
  transform: $textFieldLabelFloatTransform;
}

.input:focus + .label {
  color: $primary;
}

.helper {
  padding-top: 8px;
  font-size: 12px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.shadow {
  height: auto;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  visibility: hidden;
  pointer-events: none;
  margin-top: 40px;
  margin-bottom: -40px;
  position: absolute;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
  width: 100%;
}

.textarea {
  height: auto;
  resize: none;
  overflow-y: hidden;
  transition: all 0.3s $easeOutFunction;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  position: relative;
  margin-bottom: -20px;
  line-height: 20px;
}
