.root {
  background-color: #fff;
}

.elevation1 { box-shadow: $elevation1 }
.elevation2 { box-shadow: $elevation2 }
.elevation3 { box-shadow: $elevation3 }
.elevation4 { box-shadow: $elevation4 }
.elevation5 { box-shadow: $elevation5 }
.elevation6 { box-shadow: $elevation6 }
.elevation7 { box-shadow: $elevation7 }
.elevation8 { box-shadow: $elevation8 }
.elevation9 { box-shadow: $elevation9 }
.elevation10 { box-shadow: $elevation10 }
.elevation11 { box-shadow: $elevation11 }
.elevation12 { box-shadow: $elevation12 }
.elevation13 { box-shadow: $elevation13 }
.elevation14 { box-shadow: $elevation14 }
.elevation15 { box-shadow: $elevation15 }
.elevation16 { box-shadow: $elevation16 }
.elevation17 { box-shadow: $elevation17 }
.elevation18 { box-shadow: $elevation18 }
.elevation19 { box-shadow: $elevation19 }
.elevation20 { box-shadow: $elevation20 }
.elevation21 { box-shadow: $elevation21 }
.elevation22 { box-shadow: $elevation22 }
.elevation23 { box-shadow: $elevation23 }
.elevation24 { box-shadow: $elevation24 }
.elevation25 { box-shadow: $elevation25 }
