.root {
  position: relative;
}

.button {
  align-items: center;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 12px 16px;
  text-align: left;
  text-transform: none;
  width: 100%;
}

.avatar {
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  fill: rgba(0, 0, 0, 0.54);
}

.text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  text-transform: none;
  width: inherit;
}

.textWithAvatarOrAction {
  max-width: calc(100% - 100px);
  overflow: hidden;
  padding: 0 16px;
}

.action {
  align-items: center;
  display: flex;
  fill: rgba(0, 0, 0, 0.54);
  height: 100%;
  position: absolute;
  right: 10px;
  top: 0;
}

.primary.primaryText,
.secondary.secondaryText {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.primary.primaryText {
  color: #000;
}

.secondary.secondaryText {
  color: $black54;
}
