.root {
  position: relative;
}

.button {
  align-items: center;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  padding: 12px 16px;
  text-align: left;
  text-transform: none;
  width: 100%;
}

.avatar {
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  fill: rgba(0, 0, 0, 0.54);
}

.text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.textWithAvatarOrAction {
  padding: 0 16px;
}

.action {
  position: absolute;
  right: 20px;
  top: 8px;
  fill: rgba(0, 0, 0, 0.54);
}
